
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= image_tag "logo.png", class: 'img-responsive' %>

  <%= devise_error_messages! %>

  <%= f.text_field :name, placeholder: "Name", required: 'required', class: 'form-control input-lg', autofocus: true %>

  <%= f.email_field :email, placeholder: "Email", required: 'required', class: 'form-control input-lg', autofocus: false %>

  <%= f.password_field :password, placeholder: "Password", autocomplete: "off", required: true, class: 'form-control input-lg' %>

  <%= f.password_field :password_confirmation, placeholder: "Confirm password", autocomplete: "off", required: true, class: 'form-control input-lg' %>

  <%= f.submit "Create account", class: "btn btn-lg btn-primary btn-block" %>

  <br />
  <div>
    <%= render "devise/shared/links" %>
  </div>

<% end %>
