<%- model_class = User -%>

<% content_for :sidebar do %>
  <div class="well friends">
    <h3>Friends</h3>
      <div class='row'>
        <% 10.times do %>
          <div class='col-md-3 friend'>
            <%= link_to @user do %>
              <%= gravatar_tag @user.email, :size => 40 %>
            <% end %>
          </div>
        <% end %>
      </div>

  </div><!--/.well -->

  <div class="well favourites">
    <h3>Favourite books</h3>
      <div class='row'>
        <% @favourites.each do |rel| %>
          <div class='col-md-4 '>
            <%= link_to rel.book do %>
              <%= image_tag "covers/#{rel.book.isbn}.jpg", class: "img-responsive"%>
            <% end %>
          </div>
        <% end %>
      </div>

  </div><!--/.well -->

<% end %>

<div class='row book'>
  <div class="col-lg-3">
    <%= gravatar_tag @user.email, :size => 200 %>
  </div>

  <div class="col-lg-9">
    <span class='book-title'>
      <%= @user.email %>
    </span>
    <br />

    <% if current_user != @user %>

      <% if current_user.friend_with?(@user) %>
        <p class='alert alert-info'><%= @user.email %> is your friend!</p>
      <% elsif @user.pending_invited.include?(current_user) %>
        <p class='alert alert-info'><%= @user.email %> has not approved your request yet.</p>
      <% elsif current_user.pending_invited.include?(@user) %>
        <p class='alert alert-info'>
        <%= @user.email %> has sent you a friend request.
        <%= link_to "Approve",
                      approve_friend_path(@user.id),
                      :method => 'post',
                      :class => 'btn btn-success' %>
        </p>
      <% else %>
        <%= link_to "Add as friend",
                      invite_friend_path(@user.id),
                      :method => 'post',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-success' %>
      <% end %>
    <% else %>
      <p class='alert alert-info'>This is you!</p>
    <% end %>
  </div>
  <% if @currently_reading %>
    <div class='col-lg-9'>
      <h3>Currently reading</h3>
        <div class='well'>
          <%= image_tag "covers/#{@currently_reading.isbn}.jpg", height: '100px' %>
          <%= @user.email %> is currently reading <%= @currently_reading.title %>
        </div>
    </div>
  <% end %>
  <div class='col-lg-9'>
    <h3>Recent activity</h3>
    <% if @activities.any? %>
      <% @activities.each do |activity| %>
        <div class='well'>
          <%= image_tag "covers/#{activity.object.isbn}.jpg", height: '100px' %>
          <%= render partial: "activities/#{activity.activity_type.underscore}.html.erb", locals: { book: activity.object, user: activity.user } %>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-info" role="alert">This user has not done anything yet!</div>
    <% end %>
  </div>
</div>
