<%- model_class = User -%>

<% content_for :sidebar do %>
  <div class="well friends">
    <h3>Friends</h3>
      <div class='row'>
        <% @user.friends.each do |friend| %>
          <div class='col-md-3 friend'>
            <%= link_to friend, title: friend.name do %>
              <% if Rails.env.production? %>
                <%= image_tag "avatars/#{friend.avatar}", height: '45px', width: '45px' %>
              <% else %>
                <%= gravatar_tag friend.email, :size => 40, default: :identicon %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

  </div><!--/.well -->

  <div class="well favourites">
    <h3>Favourite books</h3>
      <div class='row'>
        <% @favourites.each do |rel| %>
          <div class='col-md-4 '>
            <%= link_to rel.book, title: rel.book.title do %>
              <%= image_tag "covers/#{rel.book.isbn}.jpg", class: "img-responsive"%>
            <% end %>
          </div>
        <% end %>
      </div>

  </div><!--/.well -->

<% end %>

<div class='row book'>
  <div class="col-lg-3">
    <% if Rails.env.production? %>
      <%= gravatar_tag @user.email, :size => 200, default: 'identicon' %>
    <% else %>
      <%= image_tag "avatars/#{@user.avatar}", height: '128px', width: '128px' %>
    <% end %>
  </div>

  <div class="col-lg-9">
    <span class='book-title'>
      <%= @user %>
    </span>
    <br />

    <% if current_user != @user %>
      <p class='alert alert-success'>Your similarity with this user is <%= current_user.similarity_with(@user) %></p>

      <% if current_user.friend_with?(@user) %>
        <p class='alert alert-info'><%= @user %> is your friend!</p>
      <% elsif @user.pending_invited.include?(current_user) %>
        <p class='alert alert-info'><%= @user %> has not approved your request yet.</p>
      <% elsif current_user.pending_invited.include?(@user) %>
        <p class='alert alert-info'>
        <%= @user %> has sent you a friend request.
        <%= link_to "Approve",
                      approve_friend_path(@user.id),
                      :method => 'post',
                      :class => 'btn btn-success' %>
        </p>
      <% else %>
        <%= link_to "Add as friend",
                      invite_friend_path(@user.id),
                      :method => 'post',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-success' %>
      <% end %>
    <% else %>
      <p class='alert alert-info'>This is you!</p>
    <% end %>
  </div>
  <% if @currently_reading %>
    <div class='col-lg-9'>
      <h3>Currently reading</h3>
        <div class='well'>
          <%= image_tag "covers/#{@currently_reading.isbn}.jpg", height: '100px' %>
          <%= @user %> is currently reading <%= @currently_reading.title %>
        </div>
    </div>
  <% end %>
  <div class='col-lg-9'>
    <h3>Recent activity</h3>
    <% if @activities.any? %>
      <% @activities.each do |activity| %>
        <div class='well'>
          <%= image_tag "covers/#{activity.object.isbn}.jpg", height: '100px' %>
          <%= render partial: "activities/#{activity.activity_type.underscore}.html.erb", locals: { book: activity.object, user: activity.user } %>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-info" role="alert">This user has not done anything yet!</div>
    <% end %>
  </div>
</div>
