<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= image_tag "logo.png", class: 'img-responsive' %>

          <%= devise_error_messages! %>

          <%= f.email_field :email, placeholder: "Email", required: 'required', class: 'form-control input-lg', autofocus: true %>

          <%= f.submit "Send reset instructions", class: "btn btn-lg btn-primary btn-block" %>

          <div>
            <%= render "devise/shared/links" %>
          </div>

        <% end %>
