<%- model_class = Book -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<% @books.all.in_groups_of(4).each do |group| %>
  <div class='row'>
    <% group.compact.each do |book| %>
      <div class='col-md-3' style='text-align: center; margin-bottom: 15px'>
        <%= link_to book do %>
          <%= image_tag "covers/#{book.isbn}.jpg", size: '186x266' %>
        <% end %>
        <span style='font-size: 15pt'>
          <%= book.title %>
        </span>
      </div>
    <% end %>
  </div>
<% end %>
<br />

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_book_path,
            :class => 'btn btn-primary' %>
