        <%= form_for(resource, as: resource_name, url: session_path(resource_name), role: "login") do |f| %>
          <%= image_tag "logo.png", class: 'img-responsive' %>

          <%= f.email_field :email, placeholder: "Email", required: 'required', class: 'form-control input-lg', autofocus: true %>

          <%= f.password_field :password, placeholder: "Password", autocomplete: "off", required: true, class: 'form-control input-lg' %>

          <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>

            <br />
          <div>
            <%= render "devise/shared/links" %>
          </div>

        <% end %>
